.TodoListItem {
  display: flex;
  padding: 1rem;
  &:nth-child(even) {
    background: #ffffff;
  }
}
.checkBox {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .text {
    margin-left: 0.5rem;
  }
}

.checked {
  svg {
    color: rgb(63, 11, 184);
    cursor: pointer;
  }
  .text {
    text-decoration: line-through;
    color: red;
  }
}

.remove {
  padding: 0.5rem;
  cursor: pointer;
}
