.TodoTemplate {
  border-radius: 4px;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  background: #32ede2;

  .wrapper-top {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: 2rem;
  }
  .wrapper-down {
    background: rgb(176, 209, 243);
  }
}
